<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>{459,14}</string>
      <string>glyphs.{459,14}</string>
    </array>
    <array>
      <string>{460,14}</string>
      <string>glyphs.{460,14}</string>
    </array>
    <array>
      <string>{180,14}</string>
      <string>glyphs.{180,14}</string>
    </array>
    <array>
      <string>{181,14}</string>
      <string>glyphs.{181,14}</string>
    </array>
    <array>
      <string>{492,14}</string>
      <string>glyphs.{492,14}</string>
    </array>
    <array>
      <string>{493,14}</string>
      <string>glyphs.{493,14}</string>
    </array>
  </array>
</plist>
