<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-122</integer>
      <key>public.kern2.T</key>
      <integer>-202</integer>
      <key>public.kern2.V</key>
      <integer>-280</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-130</integer>
    </dict>
    <key>public.kern1.I</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.N</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-106</integer>
      <key>public.kern2.O</key>
      <integer>-18</integer>
      <key>public.kern2.S</key>
      <integer>-38</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-132</integer>
      <key>public.kern2.I</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-22</integer>
      <key>public.kern2.V</key>
      <integer>-122</integer>
      <key>public.kern2.Y</key>
      <integer>-128</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-202</integer>
      <key>public.kern2.O</key>
      <integer>-22</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-290</integer>
      <key>public.kern2.O</key>
      <integer>-132</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-138</integer>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.b</key>
      <integer>-8</integer>
      <key>public.kern2.o</key>
      <integer>22</integer>
      <key>public.kern2.p</key>
      <integer>-34</integer>
      <key>public.kern2.t</key>
      <integer>-48</integer>
      <key>public.kern2.v</key>
      <integer>-116</integer>
    </dict>
    <key>public.kern1.c</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>20</integer>
      <key>public.kern2.t</key>
      <integer>4</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>i</key>
      <integer>20</integer>
      <key>public.kern2.f</key>
      <integer>12</integer>
      <key>public.kern2.l</key>
      <integer>176</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-18</integer>
      <key>public.kern2.o</key>
      <integer>-32</integer>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-68</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-6</integer>
      <key>public.kern2.v</key>
      <integer>-28</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.f</key>
      <integer>-22</integer>
      <key>public.kern2.p</key>
      <integer>0</integer>
      <key>public.kern2.t</key>
      <integer>-58</integer>
      <key>public.kern2.u</key>
      <integer>-34</integer>
      <key>public.kern2.v</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.g</key>
      <integer>-18</integer>
      <key>public.kern2.o</key>
      <integer>30</integer>
      <key>public.kern2.t</key>
      <integer>-32</integer>
      <key>public.kern2.v</key>
      <integer>-44</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-80</integer>
      <key>public.kern2.o</key>
      <integer>-34</integer>
      <key>public.kern2.t</key>
      <integer>26</integer>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.s</key>
      <integer>-14</integer>
      <key>public.kern2.u</key>
      <integer>-4</integer>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.l</key>
      <integer>-6</integer>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.t</key>
      <integer>-14</integer>
      <key>public.kern2.u</key>
      <integer>-16</integer>
      <key>public.kern2.v</key>
      <integer>-48</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-76</integer>
      <key>public.kern2.l</key>
      <integer>-28</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>28</integer>
    </dict>
  </dict>
</plist>
